/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.banner {
  height: 500px;
  background-image: url("./pic/workbench.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* create distance for child so the horizontal scroll not disappear */
  padding: 10px;
}
.banner .about-signin-contact {
  border: 1px solid red;
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-signin-contact .about,
.banner .about-signin-contact .sign-in,
.banner .about-signin-contact .contact {
  text-decoration: none;
  display: inline-block;
  /* theo chieu kim dong ho */
  margin: 20px 30px 0 0;
  padding: 10px;
  text-transform: uppercase;
}
.banner .about-signin-contact .about :hover {
  text-decoration: underline;
}
.banner .about-signin-contact .sign-in {
  border: 1px solid;
  border-radius: 20px;
  padding: 0 7px 0 7px;
}
.banner .about-signin-contact .contact :hover {
  text-decoration: underline;
}
.banner .logo {
  background: url("./pic/cat.png") center center no-repeat;
  height: 150px;
  width: 100%;
  background-size: contain;
  margin-top: 30px;
}
.banner .icons {
  margin-top: 10px;
  height: 70px;
  width: 100%;
  display: inline-block;
}
.banner .icons .left,
.banner .icons .right,
.banner .icons .center {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.banner .icons .left img,
.banner .icons .right img,
.banner .icons .center img {
  width: 15%;
  height: 60px;
}
.banner .icons .left span,
.banner .icons .right span,
.banner .icons .center span {
  display: block;
  margin-top: 10px;
}
.banner .intro-text {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.banner .btnStart {
  text-align: center;
}
.banner .btnStart button {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
}
